/* index 페이지 애니메이션*/
@keyframes titleslide {
  from {
    margin: 0 0 0 -300px;
    opacity: 0;
  }
  to {
    margin: 0 0 0 0;
    opacity: 1;
  }
}

@keyframes titleslide2 {
  from {
    margin: 0 0 0 -100px;
    opacity: 0;
  }
  to {
    margin: 0 0 0 0;
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1500px * 2));
  }
}

@keyframes scroll2 {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(calc(-1500px * 2));
  }
}

/* join 페이지 애니메이션*/
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeLeftIn {
  from {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes tossing {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-5%);
  }
  80% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes pullDown {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}
