@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeLeftIn {
  from {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* @keyframes slideInLeft {
  from {
    opacity: 0%;
    transform: translateX(-100%);
  }

  to {
    opacity: 100%;
    transform: translateX(0%);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0%;
    transform: translateX(100%);
  }

  to {
    opacity: 100%;
    transform: translateX(0%);
  }
} */
