/* html a에 href 없애서 pointer 추가 */
* a {
  cursor: pointer;
}

.header {
  position: relative;
  width: 90%;
  height: 55.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.logo {
  width: auto;
  height: 18px;
}

.logo a {
  width: auto;
  height: 18px;
}

.logo img {
  width: inherit;
  height: inherit;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  color: white;
}

.menu li {
  margin: 0 20px;
  list-style: none;
}

.headerBtns {
  display: flex;
  align-items: center;
}

.btn {
  position: relative;
  text-align: center;
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px white inset;
  color: white;
}

.btnContainer {
  position: relative;
}

.btnContainer:first-child {
  margin-right: 10px;
}

.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

/* 버튼 hover 시 dropdown 보이도록 */
.btnContainer:hover .dropdown {
  display: block;
}

.joinHeader {
  display: none;
}

.dropdown a {
  display: block;
  background-color: white;
  text-align: left;
  border-radius: 10px;
  padding: 8px 12px;
  color: var(--black-color);
}

.dropdownBridge {
  height: 40px;
}

/* dropdown a radius 조정 */
.dropdown a:nth-child(2),
a.email,
a.insta {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown a.insta,
.dropdown a:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown a:hover {
  background-color: var(--main-color);
}

/* pc에서는 아이콘 안보이게 */
.header i {
  color: white;
  display: none;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .header {
    width: 80%;
    padding: 0 10%;
  }
}

/* 반응형 헤더 햄버거 버튼 구현 
 header.js에서 확인 가능 */
@media screen and (max-width: 800px) {
  .header {
    font-size: 1rem;
  }

  /* 메뉴들 flex 세로정렬 후 display : none */
  .menu {
    width: 100%;
    position: absolute;
    top: 55.5px;
    left: 0;
    padding-left: 2rem;
    background-color: black;
    flex-direction: column;
    align-items: flex-start;
    display: none;
  }

  /* 메뉴 토글버튼 active 시 none -> block 으로 */
  .menu.active {
    display: block;
  }

  .menu li {
    margin: 0;
    margin: 1rem 0;
  }

  /* 버튼들 flex 세로정렬 후 display : none */
  .headerBtns {
    width: 100%;
    position: absolute;
    top: 230px;
    left: 0;
    padding-left: 2rem;
    padding-bottom: 1rem;
    background-color: black;
    flex-direction: column;
    align-items: flex-start;
    display: none;
  }

  /* 메뉴 토글버튼 active 시 none -> block 으로 */
  .headerBtns.active {
    display: block;
  }

  /* 모바일 시 안보이도록 */
  .btn {
    display: none;
  }

  /* 모바일 시 안보이도록 */
  .dropdown {
    position: relative;
    display: block;
    box-shadow: none;
  }

  .dropdown a {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    color: white;
    margin: 1rem 0;
  }

  .dropdown a i {
    margin-left: 10px;
  }

  .dropdownBridge {
    display: none;
  }

  /* 모바일 시 드롭다운 radius 삭제 */
  .dropdown a:nth-child(2) {
    border-radius: 0;
  }

  .dropdown a:last-child {
    border-radius: 0;
  }

  .dropdown a:hover {
    background-color: black;
  }

  /* 모바일 시 아이콘 보이게 */
  .header i {
    display: block;
  }

  .mobileBtn:last-child {
    display: none;
  }

  .mobileBtn.btnOff {
    display: none;
  }

  .mobileBtn.btnOn {
    display: block;
  }
}
