.header {
  position: relative;
  width: 90%;
  height: 55.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.logo {
  width: 193px;
  height: 22px;
}

.logo img {
  width: inherit;
  height: inherit;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  color: white;
}

.menu li {
  margin: 0 20px;
  transition: 0.5s;
  list-style: none;
}

.headerBtns {
  display: flex;
  align-items: center;
}

.btn {
  position: relative;
  text-align: center;
  padding: 5px 15px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 0 1px white inset;
  color: white;
}

.btnContainer {
  position: relative;
}

.btnContainer:first-child {
  margin-right: 10px;
}

.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.btnContainer:hover .dropdown {
  display: block;
}

.dropdown a {
  display: block;
  background-color: white;
  text-align: left;
  border-radius: 10px;
  padding: 8px 12px;
  color: var(--black-color);
}

.dropdownBridge {
  height: 40px;
}

.dropdown a:nth-child(2) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown a:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown a:hover {
  background-color: var(--main-color);
}

.header i {
  color: white;
  display: none;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .header {
    width: 80%;
    padding: 0 10%;
  }
}

@media screen and (max-width: 800px) {
  .header {
    font-size: 1rem;
  }

  .menu {
    width: 100%;
    position: absolute;
    top: 55.5px;
    left: 0;
    padding-left: 2rem;
    background-color: black;
    flex-direction: column;
    align-items: flex-start;
    display: none;
  }

  .menu.active {
    display: block;
  }

  .menu li {
    margin: 0;
    margin: 1rem 0;
  }

  .headerBtns {
    width: 100%;
    position: absolute;
    top: 230px;
    left: 0;
    padding-left: 2rem;
    padding-bottom: 1rem;
    background-color: black;
    flex-direction: column;
    align-items: flex-start;
    display: none;
  }

  .headerBtns.active {
    display: block;
  }

  .btnContainer:first-child {
    display: none;
  }

  .btn {
    display: none;
  }

  .dropdown {
    position: relative;
    display: block;
    box-shadow: none;
  }

  .dropdown a {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    color: white;
    margin: 1rem 0;
  }

  .dropdown a i {
    margin-left: 15px;
  }

  .dropdownBridge {
    display: none;
  }

  .dropdown a:nth-child(2) {
    border-radius: 0;
  }

  .dropdown a:last-child {
    border-radius: 0;
  }

  .dropdown a:hover {
    background-color: black;
  }

  .header i {
    display: block;
  }

  .mobileBtn:last-child {
    display: none;
  }

  .mobileBtn.btnOff {
    display: none;
  }

  .mobileBtn.btnOn {
    display: block;
  }
}
