.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 2;
  }
  
  .bg {
    background-image: linear-gradient(
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.9)
      ),
      url("../img/_MG_3045.jpg");
    background-position: center;
    background-size: cover;
    animation: fadeIn 2s forwards;
  }
  
  .intro {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
  }
  
  :is(.introP1, .introP2) {
    animation: fadeInUp 2s;
    animation-fill-mode: forwards;
  }
  
  .introP1 {
    margin-bottom: 40px;
    font-size: 25px;
  }
  
  .introP2 {
    visibility: hidden;
    font-size: 50px;
    font-weight: 800;
    animation-delay: 1s;
  }
  
  .logo {
    font-size: 25px;
  }
  
  .menu {
    display: flex;
    align-items: center;
    font-weight: 500;
  }
  
  .menu {
    display: flex;
  }
  
  .menu a {
    color: white;
  }
  
  .menu li {
    margin: 0 20px;
    transition: 0.5s;
    list-style: none;
  }
  
  .focus {
    box-sizing: border-box;
    color: var(--main-color);
    transition: 0.5s;
  }
  
  .headerBtns {
    display: flex;
    align-items: center;
  }
  
  .btn {
    position: relative;
    text-align: center;
    padding: 5px 15px;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
  }
  
  .empty {
    box-shadow: 0 0 0 1px white inset;
    color: white;
  }
  
  .empty:hover {
    box-shadow: 0 0 0 1px var(--main-color) inset;
    color: var(--main-color);
  }
  
  .btnContainer {
    position: relative;
  }
  
  .btnContainer:first-child {
    margin-right: 10px;
  }
  
  .dropdown {
    position: absolute;
    right: 0;
    z-index: 2;
    padding: 1px 10px;
    background-color: white;
    display: none;
    border-radius: 10px;
    /* border-top-right-radius: 0; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .btnContainer:hover .dropdown {
    display: block;
  }
  
  .dropdown a {
    display: block;
    text-align: right;
    padding: 5px 0;
    color: var(--black-color);
  }
  
  .dropdown a:hover {
    color: var(--main-color);
  }
  