@import "reset.css";
@import "styles.css";
@import "animations.css";
@import "header.css";

/*main color : #ff7710, point color : #96FF00, black: #1C1B1A */

* {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: var(--black-color);
  color: white;
  line-height: 1.5;
  font-family: Pretendard;
}

/* elements */

.elements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: var(--black-color);
  padding: 150px 0;
}

.title {
  padding-bottom: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.pT {
  padding-top: 150px;
}

.elements_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.element {
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  background: white;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px white;
  padding: 20px 30px;
  margin-bottom: 40px;
  opacity: 0;
}

.element.visible {
  animation: fadeLeftIn 2s;
  animation-fill-mode: forwards;
}

.element_icon {
  font-size: 80px;
  padding-bottom: 10px;
  margin-right: 20px;
  flex-shrink: 1;
}

.element_p {
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
}

.element_p p:first-child {
  font-size: larger;
  font-weight: 700;
  margin-bottom: 10px;
}

.element_p p:last-child {
  font-size: large;
}

/* univs */

.univs {
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
  padding: 150px 0;
}

.univs_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
}

.univs_icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.univs_icons a {
  font-size: 12px;
  color: black;
  margin: 0 20px 30px 0;
}

.aCon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.univs_icons img {
  width: 120px;
  height: 120px;
}

.pCon {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 120px;
  height: 120px;
  padding: 10px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s;
}

.pCon:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.8);
  color: var(--main-color);
}

/* apply */

.apply {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 200px 0 100px 0;
}

.apply_title {
  padding: 50px 0;
}

.t_apply {
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  font-style: italic;
  background: linear-gradient(
    45deg,
    #96ff00,
    #2f4858 15%,
    #00bd94 35%,
    #96ff00 50%,
    #2f4858 65%,
    #00bd94 85%,
    #96ff00
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: gradient 10s linear infinite;
  background-size: 200% 100%;
}

.apply_section {
  display: flex;
  padding-top: 300px;
}

.apply_button {
  position: relative;
  width: 500px;
  height: 300px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.apply_button img {
  position: absolute;
  width: 300px;
  height: 300px;
}

.executive {
  border: solid 2px white;
  left: 5%;
  z-index: 1;
}

.executive img {
  top: -200px;
  left: -100px;
}

.student {
  background-color: var(--main-color);
  border: solid 2px var(--main-color);
  right: 5%;
  margin-top: 250px;
}

.student img {
  top: -200px;
  right: -100px;
  transform: scaleX(-1);
}

.p1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.p2 {
  font-size: 50px;
  font-weight: 700;
}

/* FAQ */

.FAQ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 200px;
}

.FAQ_title {
  padding: 150px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.sbContainer {
  display: flex;
  align-items: center;
  width: 80%;
  height: 130px;
  opacity: 0;
}

.sbQ {
  justify-content: flex-start;
}

.sbA {
  justify-content: flex-end;
}

.first {
  margin-bottom: 100px;
}

.last {
  margin-bottom: 100px;
}

.sbContainer.visible {
  animation: fadeInUp 1s;
  animation-fill-mode: forwards;
}

.a.visible {
  animation-delay: 0.5s;
}

.sbContainer img {
  width: 200px;
  height: 220px;
  margin: 0 20px;
  overflow: visible;
}

.speechBubble {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  width: fit-content;
  height: 40px;
  padding: 35px;
  border-radius: 40px;
  line-height: normal;
  color: var(--black-color);
}

.question {
  background-color: whitesmoke;
  /* border: 2px solid white; */
  margin-right: 300px;
}

.answer {
  background-color: var(--main-color);
  text-align: right;
  margin-left: 300px;
}

.aF {
  border-bottom-right-radius: 5px;
}

.aN {
  border-radius: 50px 5px 5px 50px;
}

.aL {
  border-top-right-radius: 5px;
}

.hidden {
  min-width: 200px;
  margin: 0 20px;
}

.more {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: var(--black-color);
  padding-bottom: 100px;
}

.more_title {
  padding: 100px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.more ul {
  width: 70%;
  padding-bottom: 100px;
}

.more li {
  border-bottom: solid 2px var(--black-color);
  padding: 20px;
}

.more_contact {
  background-color: var(--main-color);
  width: 200px;
  padding: 20px;
  color: white;
  font-size: 30px;
  font-weight: 700;
  border-radius: 20px;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.more_contact:hover {
  color: var(--black-color);
}
