@import "reset.css";
@import "styles.css";

/*main color : #ff7710, point color : #96FF00, black: #1C1B1A */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateZ(0);
  }
}

/* @keyframes slideInLeft {
  from {
    opacity: 0%;
    transform: translateX(-100%);
  }

  to {
    opacity: 100%;
    transform: translateX(0%);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0%;
    transform: translateX(100%);
  }

  to {
    opacity: 100%;
    transform: translateX(0%);
  }
} */

* {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: var(--black-color);
  color: white;
  line-height: 1.5;
  font-family: Pretendard;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 2;
}

.logo {
  font-size: 25px;
  font-weight: 700;
}

.bg {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/service_img3.png");
  background-position: center;
  background-size: cover;
}

.intro {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

:is(.introP1, .introP2) {
  animation: fadeInUp 2s;
  animation-fill-mode: forwards;
}

.introP1 {
  margin-bottom: 30px;
  font-size: 25px;
}

.introP2 {
  visibility: hidden;
  font-size: 50px;
  font-weight: 800;
  animation-delay: 1s;
}

.menu {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.menu ul {
  display: flex;
}

.menu ul a {
  color: white;
}

.menu li {
  margin: 0 20px;
  /* border-bottom: solid 2px white; */
}

.headerBtns {
  display: flex;
  align-items: center;
}

.btn {
  padding: 5px 15px;
  font-weight: 500;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.fill {
  margin-right: 10px;
  background-color: var(--main-color);
  color: black;
}

.fill:hover {
  background-color: white;
  color: black;
}

.empty {
  box-shadow: 0 0 0 1px var(--main-color) inset;
  color: var(--main-color);
}

.empty:hover {
  box-shadow: 0 0 0 1px white inset;
  color: white;
}

.elements {
  background-color: white;
  color: var(--black-color);
  padding: 30px 0;
}

.elements_title {
  padding: 50px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.elements_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  border-radius: 20px;
  background: white;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px white;
  padding: 30px;
  margin-bottom: 30px;
}

.element_icon {
  font-size: 100px;
  padding-bottom: 10px;
  margin-right: 40px;
}

.element_p {
  display: flex;
  flex-direction: column;
}

.element_p p:first-child {
  font-size: x-large;
  font-weight: 700;
  margin-bottom: 20px;
}

.element_p p:last-child {
  font-size: large;
}

.stacks_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-bottom: 50px;
}

.stacks_cols {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: fit-content;
}

.stacks_cols:nth-child(2) {
  margin: 0 5%;
}

.stack {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.stack img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.stack span {
  display: block;
  width: 50px;
  font-size: large;
}

.univs {
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
}

.univs_container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 10% 0;
  line-height: normal;
  font-size: 50px;
  font-weight: 700;
}

.univs_icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
}

.univs_icons img {
  width: 100px;
  height: 100px;
  margin: 0 20px 10px 0;
}

.apply {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.apply_title {
  padding: 10% 0 15% 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
}

.pointLine {
  position: absolute;
  width: 40%;
  height: 5px;
  background-color: var(--point-color);
}

.line1 {
  left: 0;
  /* animation: slideInLeft 1s ease-in-out forwards; */
}

.line2 {
  right: 0;
  /* animation: slideInRight 1s ease-in-out forwards; */
}

.apply_title p {
  margin: 15% 0;
  font-style: italic;
  /* animation: fadeInUp 1s; */
}

.apply_section {
  display: flex;
}

.apply_button {
  position: relative;
  width: 500px;
  height: 300px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.apply_button img {
  position: absolute;
  width: 300px;
  height: 300px;
}

.executive {
  border: solid 2px white;
  left: 5%;
  z-index: 1;
}

.executive img {
  top: -200px;
  left: -100px;
}

.student {
  background-color: var(--main-color);
  border: solid 2px var(--main-color);
  right: 5%;
  margin-top: 250px;
}

.student img {
  top: -200px;
  right: -100px;
  transform: scaleX(-1);
}

.p1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.p2 {
  font-size: 50px;
  font-weight: 700;
}

.FAQ {
  width: 100%;
  margin-top: 100px;
}

.FAQ_title {
  padding: 100px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.sbContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.sbContainer img {
  width: 200px;
  height: 220px;
  margin: 0 20px;
}

.speechBubble {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  width: 700px;
  height: fit-content;
  padding: 40px 50px;
  border-radius: 30px;
  line-height: normal;
}

.question {
  background-color: white;
  color: var(--black-color);
  margin-right: 300px;
}

.question:after {
  content: "";
  position: absolute;
  top: 40px;
  left: -20px;
  border-right: 30px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.answer {
  background-color: var(--main-color);
  color: var(--black-color);
  text-align: right;
  margin-left: 300px;
}

.answer:after {
  content: "";
  position: absolute;
  top: 100px;
  right: -20px;
  border-left: 30px solid var(--main-color);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.more {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: var(--black-color);
  padding-bottom: 100px;
}

.more_title {
  padding: 100px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.more ul {
  width: 70%;
  padding-bottom: 100px;
}

.more li {
  border-bottom: solid 2px var(--black-color);
  padding: 20px;
}

.more_contact {
  background-color: var(--main-color);
  width: 200px;
  padding: 20px;
  color: white;
  font-size: x-large;
  font-weight: 700;
  border-radius: 20px;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.more_contact:hover {
  color: var(--black-color);
}
