@import "reset.css";
@import "animations.css";
@import "styles.css";
@import "header.css";
@import "footer.css";

* {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100vw;
  background-color: black;
  color: white;
  line-height: 1.5;
  font-family: Pretendard;
}

.intro {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

/* intro P1, P2 모두 fadeIn 애니메이션 */
:is(.introP1, .introP2) {
  animation: fadeInUp 2s;
  animation-fill-mode: forwards;
}

.introP1,
.introP2 {
  text-align: center;
}

.introP1 {
  margin-bottom: 40px;
  font-size: 2rem;
}

.introP2 {
  visibility: hidden;
  font-size: 3rem;
  font-weight: 700;
  animation-delay: 1s;
}

/* 배경 섹션 */
.bg {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  animation: fadeIn 2s forwards;
}

/* 랜덤 배경 클래스, bg.js 에서 확인 */
.bg.bg01 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.9)
    ),
    url("../img/slide_1.jpg");
}

.bg.bg02 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.9)
    ),
    url("../img/slide_2.jpg");
}

.bg.bg03 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.9)
    ),
    url("../img/slide_3.jpg");
}

.bg.bg04 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.9)
    ),
    url("../img/slide_4.jpg");
}

/* join page 모든 모바일 반응형 크기 800 고정 */
@media screen and (max-width: 800px) {
  .intro {
    height: 500px;
    box-sizing: border-box;
    padding: 100px 10px;
  }

  .introP1 {
    font-size: 1rem;
  }

  .introP2 {
    font-size: 1.5rem;
  }

  .bg {
    background-attachment: scroll;
  }
}

/* elements */
.elements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: var(--black-color);
  overflow-x: hidden;
}

.title {
  padding: 100px 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.pT {
  padding-top: 150px;
}

.elements_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.element {
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  background: white;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px white;
  padding: 20px 30px;
  margin-bottom: 40px;
  opacity: 0;
}

/* element 스크롤 시 visible 클래스 추가, scroll.js 에서 확인 가능 */
.element.visible {
  animation: fadeLeftIn 2s;
  animation-fill-mode: forwards;
}

/* 아이콘 이미지 X, p로 넣은 실제 아이콘 */
.element_icon {
  font-size: 5rem;
  padding-bottom: 10px;
  margin-right: 20px;
  flex-shrink: 1;
}

.element_p {
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
}

.element_p p:first-child {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.element_p p:last-child {
  font-size: 1.1rem;
}

@media screen and (max-width: 800px) {
  .elements_container {
    width: 80%;
  }

  .element {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }

  .element_icon {
    font-size: 3rem;
    margin: 0;
  }

  .element_p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .element_p p:first-child {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .element_p p:last-child {
    font-size: 1rem;
  }
}

/* stacks */

.stacks_container {
  display: flex;
  justify-content: center;
  padding: 50px 0 150px 0;
}

/* swiper 컨테이너, 이미지 사이즈 여기서 결정 */
.swiper-container {
  width: 250px;
  height: 250px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide a {
  text-align: center;
  text-decoration: none;
  outline: none;
  color: var(--black-color);
}

.swiper-slide p {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}

.swiper-slide:not(.swiper-slide-active, .swiper-slide-visible) {
  opacity: 0.3;
}

.swiper-slide img {
  width: 250px;
  height: 250px;
}

@media screen and (max-width: 800px) {
  .swiper-container {
    width: 150px;
    height: 150px;
  }

  .swiper-slide img {
    width: 150px;
    height: 150px;
  }

  .swiper-slide p {
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 500;
  }
}

/* univs */

.univs {
  background-color: black;
  padding: 0 150px;
  padding-bottom: 50px;
}

.black {
  color: black;
}

.mapContainer {
  position: relative;
  display: flex;
}

/* 구글맵 */
#map {
  flex: 4;
  height: 600px;
}

/* 구글맵 조작 UI 삭제 */
.gmnoprint,
.gm-control-active.gm-fullscreen-control {
  display: none;
}

/* 마커 */
.marker {
  width: 100px;
  color: var(--main-color);
}

.marker_p {
  text-align: center;
}

.univList {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 40px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.8);
  flex: 1;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.univList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.univList ul {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.univList li {
  font-size: 1rem;
  font-weight: 400;
}

.univList a {
  text-decoration: none;
  outline: none;
  color: white;
  padding: 3px;
  border-radius: 30px;
  transition: 0.2s ease-in-out;
}

.univInsta {
  margin-left: 10px;
  visibility: hidden;
}

.univList a:hover {
  color: var(--main-color);
}

/* univList a hover 시 인스타그램 아이콘 visible */
.univList a:hover .fa-instagram {
  visibility: visible;
}

@media screen and (max-width: 1200px) {
  .univs {
    padding: 0 100px;
    padding-bottom: 150px;
  }

  /* 모바일 시 map, univList 수직 정렬 */
  .mapContainer {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  #map {
    flex: none;
    height: 500px;
  }

  .univList {
    background-color: var(--black-color);
    position: relative;
    justify-content: center;
    height: auto;
    flex: none;
  }

  .univList ul {
    padding: 30px 0;
    display: block;
    column-count: 2;
    column-gap: 10%;
  }

  .univList li {
    padding: 5px 0;
  }

  .univList a {
    text-decoration: none;
    outline: none;
    color: white;
  }
}

@media screen and (max-width: 800px) {
  .univs {
    padding: 0;
  }

  #map {
    height: 400px;
  }

  .univList li {
    font-size: 0.8rem;
  }
}

/* apply */

.apply {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 200px 0;
}

.apply_title {
  padding-bottom: 150px;
}

.t_apply {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 70px;
  font-style: italic;
}

.apply_article {
  display: flex;
  justify-content: space-between;
}

.apply_button {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 0 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: floating 4s infinite;
  box-sizing: border-box;
}

.apply_button {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.newslist{ /* 지난활동 4개 전체부분 */
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  gap: 10px;
  margin: 150px 30px; /* 임시로 준 마진 */
}
.aflex{ /* 각각 하나 활동 display: flex */
  display: flex;
  flex-direction: column;
  background-color: #e0cec7;
  height: 100%;
  color: black;
}
.image{
  width: 100%;
  height: 100%;
}

.titleandcontents{
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  align-self: stretch;
  height: 100%;
}

/* 화면 줄어들면 2x2 정렬로 수정 */
@media screen and (max-width: 800px){
  .newslist{
      grid-template-columns: repeat(2,minmax(0,1fr));
  }

  
}
/* 운영진, 학생 버튼 hover 좌우 tossing 효과 */
.executive:hover,
.student:hover {
  animation: tossing 2s infinite;
}

/* 버튼 hover 전 버튼 style */
.before {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
}

.before p {
  padding: 5px;
}

/* 버튼 hover 후 버튼 style */
.after {
  display: none;
}

.executive {
  border: solid 2px white;
}

.student {
  border: solid 2px var(--main-color);
  color: var(--main-color);
}

.after a {
  color: var(--black-color);
}

.p1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.p2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.toggleIcon {
  padding: 100px 0;
  animation: floating 1.5s infinite;
}

.joinUs {
  box-sizing: border-box;
  display: block;
  width: 300px;
  padding: 20px;
  background-color: var(--main-color);
  color: white;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 100px;
  text-align: center;
  transition: 0.2s ease-in-out;
}

/* joinUs 버튼 hover 이벤트, index 페이지 버튼 hover와 통일 */
.joinUs:hover {
  box-shadow: 300px 0 0 0 rgba(0, 0, 0, 0.5) inset;
}

@media screen and (max-width: 800px) {
  .apply {
    padding: 100px 0;
  }

  .t_apply {
    font-size: 2rem;
    font-weight: 700;
    line-height: 4rem;
  }

  .apply_title {
    padding-bottom: 30px;
  }

  .apply_article {
    width: 90%;
    justify-content: center;
    padding-top: 50px;
  }

  .apply_button {
    width: 15rem;
    height: 15rem;
    margin: 0 10px;
    border-radius: 25px;
  }

  .before {
    font-size: 1.3rem;
  }

  .p1 {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .p2 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .toggleIcon {
    padding: 50px 0;
    animation: floating 1.5s infinite;
  }

  .joinUs {
    font-size: 1.5rem;
    padding: 15px;
    width: 200px;
  }

  .joinUs:hover {
    box-shadow: 200px 0 0 0 rgba(0, 0, 0, 0.5) inset;
  }
}

/* FAQ */

.FAQ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pB {
  padding-top: 50px;
  padding-bottom: 150px;
}

.sbContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  height: 120px;
  opacity: 0;
}

@media screen and (max-width: 1200px) {
  .sbContainer {
    width: 90%;
  }
}

.sbQ {
  justify-content: flex-start;
}

.sbA {
  justify-content: flex-end;
}

.first {
  margin-bottom: 100px;
}

.sbLast {
  margin-bottom: 100px;
}

.sbContainer.visible {
  animation: slideUp 1s forwards;
}

.a.visible {
  animation-delay: 0.5s;
}

.sbContainer img {
  width: 200px;
  height: 220px;
  margin: 0 20px;
  overflow: visible;
}

.speechBubble {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 500;
  width: fit-content;
  height: 40px;
  padding: 35px;
  border-radius: 40px;
  line-height: normal;
  color: var(--black-color);
  box-shadow: rgba(50, 50, 93, 0.3) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.4) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.7) 0px -2px 6px 0px inset;
}

.question {
  background-color: whitesmoke;
  margin-right: 300px;
}

.answer {
  background-color: var(--main-color);
  text-align: right;
  margin-left: 300px;
}

.aF {
  border-bottom-right-radius: 5px;
}

.aN {
  border-radius: 50px 5px 5px 50px;
}

.aL {
  border-top-right-radius: 5px;
}

.hidden {
  min-width: 200px;
  margin: 0 20px;
}

/* 아래 반응형은 UI가 깨지는 시점 기준입니다 */
@media screen and (max-width: 980px) {
  .sbContainer {
    width: 100%;
    height: 110px;
  }

  .sbContainer img {
    width: 150px;
    height: 165px;
  }

  .speechBubble {
    padding: 30px;
    border-radius: 40px;
  }

  .question {
    margin-right: 150px;
  }

  .answer {
    margin-left: 150px;
  }

  .aF {
    border-bottom-right-radius: 5px;
  }

  .aN {
    border-radius: 50px 5px 5px 50px;
  }

  .aL {
    border-top-right-radius: 5px;
  }

  .hidden {
    min-width: 150px;
    margin: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .sbContainer {
    width: 80%;
    height: 80px;
  }

  .first {
    margin-bottom: 80px;
  }

  .sbLast {
    margin-bottom: 80px;
  }

  .sbContainer img {
    width: 80px;
    height: 88px;
  }

  .hidden {
    min-width: 80px;
    margin: 0 20px;
  }

  .speechBubble {
    font-size: 0.8rem;
    padding: 13px;
    border-radius: 30px;
  }

  .question {
    margin-right: 30px;
  }

  .answer {
    margin-left: 30px;
  }

  .aF {
    border-bottom-right-radius: 5px;
  }

  .aN {
    border-radius: 30px 5px 5px 30px;
  }

  .aL {
    border-top-right-radius: 5px;
  }
}

/* more */

.more {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.more_container {
  width: 100%;
  padding: 100px 20%;
  box-sizing: border-box;
  display: none;
  background-color: white;
  color: var(--black-color);
}

.qna_set {
  box-sizing: border-box;
  border-radius: 20px;
  background: white;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px white;
  padding: 40px;
  margin-bottom: 40px;
}

.moreQ {
  font-size: 1.3rem;
  font-weight: 500;
}

/* input 체크박스 안보이도록 */
#toggle {
  display: none;
}

/* input 체크박스가 체크됐을때 -> more 아티클 보이도록 */
#toggle:checked ~ .more_container {
  display: block;
  animation: pullDown 0.5s ease-out forwards;
  transform-origin: 50% 0;
}

.moreA {
  font-size: 1.2rem;
  margin-top: 20px;
  padding-left: 20px;
}

.moreToggleIcon {
  margin-left: 20px;
}

@media screen and (max-width: 800px) {
  .more_container {
    padding: 50px 10%;
  }

  .moreQ {
    font-size: 1rem;
  }

  .moreA {
    font-size: 0.9rem;
    margin-top: 10px;
    padding-left: 10px;
  }

  .qna_set {
    padding: 30px;
    margin-bottom: 30px;
  }
}
