@import "header.css";
@import "styles.css";
@import "reset.css";

/* 최상위에 있는 박스부터 레이아웃을 먼저 배치한 다음 그 안의 내용들을 세부적으로 꾸며주는게 중요 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Pretendard";
  height: 100%;
  background-color: var(--black-color);
  line-height: 1.5;
  overflow-x: auto;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: white;
}

/* 상단 메뉴 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1b1a;
  padding: 8px 200px;
  height: 40px;
}

.navbarMenuLeft {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbarMenuLeft li {
  padding: 8px 12px;
}

.navbarMenuRight {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navbarMenuRight li {
  padding: 8px 12px;
}

/* 메인 */
.main {
  background: #1c1b1a;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), #1c1b1a),
    url("../img/_MG_4482.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 90% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8% 0 8% 5%;
  /* width: auto; */
  /* height: 100vh; */
}
.title {
  font-weight: 800;
  font-size: 6em;
  color: white;
  animation: titleslide 1s ease-in;
  background-color: transparent;
  line-height: 1.2;
}
.line {
  font-weight: 200;
}

.mainDiscription {
  width: 50%;
  font-size: 25px;
  font-weight: 200;
  color: white;
  line-height: 1.2;
  animation: titleslide 1s ease-in;
  padding: 7% 0 5% 0;
}
.mainbutton {
  background-color: #ff7710;
  border: 0px solid #ff7710;
  color: white;
  width: 300px;
  height: 80px;
  transition: 0.2s ease-in-out;
  animation: titleslide 1s ease-in;
  font-size: 30px;
  font-weight: 400;
  border-radius: 100px;
}
.mainbutton:hover {
  box-shadow: 300px 0 0 0 rgba(0, 0, 0, 0.5) inset;
}

@keyframes titleslide {
  from {
    margin: 0 0 0 -20%;
    opacity: 0;
  }
  to {
    margin: 0 0 0 0;
    opacity: 1;
  }
}


@media screen and (max-width: 975px) {
  .main{
    padding: 15% 0 15% 5%;
  }
  .title {
    font-weight: 800;
    font-size: 5em;
  }
  .mainDiscription {
    width: 60%;
    font-size: 23px;
    font-weight: 200;
  }
  .mainbutton {
    width: 280px;
    height: 78px;
    font-size: 28px;
  }
}
@media screen and (max-width:599px) {
  .main{
    padding: 15% 0 15% 5%;
  }
  .title {
    font-weight: 800;
    font-size: 4em;

  }
  .mainDiscription {
    width: 60%;
    font-size: 20px;
    font-weight: 200;
  }
  .mainbutton {
    width: 260px;
    height: 58px;
    font-size: 26px;
  }
}
  @media screen and (max-width:422px) {
  .main{
    padding: 15% 0 15% 5%;
  }
  .title {
    font-weight: 800;
    font-size: 3em;
  }
  .mainDiscription {
    width: 60%;
    font-size: 16px;
    font-weight: 200;
  }
  .mainbutton {
    width: 200px;
    height: 48px;
    font-size: 24px;
  }
}

/* 미션 */
.mission {
  padding: 200px 40px;
  background-color: #ff7710;
}
/* .missionTitle {
  color: white;
  text-align: center;
  font-weight: 700;
  margin: 0 0 16px;
} */
.missionText {
  color: white;
  max-width: 1000px;
  font-size: 35px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .mission {
    padding: 80px 0px;
    background-color: #ff7710;
  }
  .missionText {
    font-size: 22px;
    margin: 0 40px;
    text-align: center;
  }
}



/* 활동 */
.activity {
  /* padding: 120px 120px 0px 120px; */
  padding: 120px 12% 0 12%;
  background-color: #1c1b1a;
}
.activityTitle {
  /* background-color: orange; */
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  margin: 0 0 30px 0;
}
.activityImgContainer {
  /* background-color: rgba(255, 255, 0, 0.332); */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  grid-gap: 1rem;
  padding: 5rem;
  grid-template-areas:
    "a b b"
    "a c d";
}
.activityImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}
.Ideathon {
  grid-area: a;
  position: relative;
}
.Hackathon {
  grid-area: b;
  position: relative;
}
.Mentoring {
  grid-area: c;
  position: relative;
}

.Networking {
  grid-area: d;
  position: relative;
}


.activityImgContainer h1 {
  text-align: center;
  font-size: xx-large;
  background-color: #ff7710;
  border-radius: 100px;
}
.activityImgContainer p {
  text-align: center;
  font-size: 22px;
  padding: 10px 0 0 0;
}
.acts:hover .activityImg {
  opacity: 0.2;
  /* transition: all 0.5s; */
}
.IdeathonContents:not(:hover),
.HackathonContents:not(:hover),
.MentoringContents:not(:hover),
.NetworkingContents:not(:hover) {
  transition: 0.5s ease-out;
}

.IdeathonContents,
.HackathonContents,
.MentoringContents,
.NetworkingContents {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
}
.Ideathon:hover .IdeathonContents,
.Hackathon:hover .HackathonContents,
.Mentoring:hover .MentoringContents,
.Networking:hover .NetworkingContents{
  /* display: block; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 1;
  transition: all 0.5s ease-in;
}


@media screen and (max-width: 1200px) {
  .activity {
    padding: 100px 0px 80px;
  }
  .activityImgContainer {
    padding: 40px;
  }
  .activityImgContainer h1 {
    font-size: 29px;
  }
  .activityImgContainer p {
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
  }

}
@media screen and (max-width: 901px) {
  .activityImgContainer h1 {
    font-size: 23px;
  }
  .Contents p {
    font-size: 20px;
    padding: 5px 0 0 0;
    line-height: 1.3;
  }
}
@media screen and (max-width: 601px) {
  .activity {
    padding: 100px 0px 0px 0px;
  }
  .activityImgContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 1rem;
    padding: 2rem;
    grid-template-areas:
      "a a a a"
      "b b b b"
      "c c c c"
      "d d d d";
  }
  .Ideathon {
    grid-area: a;
    position: relative;
  }
  .Hackathon {
    grid-area: b;
    position: relative;
  }
  .Mentoring {
    grid-area: c;
    position: relative;
  }

  .Networking {
    grid-area: d;
    position: relative;
  }

  .activityImgContainer h1 {
    font-size: 23px;
  }
  .Contents p {
    font-size: 17px;
    padding: 5px 0 0 0;
  }
}
@media screen and (max-width: 381px) {
  .activityImgContainer h1 {
    font-size: 23px;
  }
  .Contents p {
    font-size: 15px;
    padding: 5px 0 0 0;
  }
}

/* 역사 */
.history {
  /* padding: 170px 100px 50px 100px; */
  padding: 170px 12% 50px 12%;
  /* background: rgb(255, 119, 16);
  background: linear-gradient(
    160deg,
    rgba(255, 119, 16, 1) 0%,
    rgba(173, 89, 25, 1) 0%,
    rgba(149, 80, 27, 1) 9%,
    rgba(96, 60, 32, 0.9424720571822479) 15%,
    #1c1b1a 28%,
    #1c1b1a 69%
  ); */
  background-color: #1c1b1a;
}
.historyTitle {
  color: white;
  text-align: center;
  font-weight: 700;
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 30px;
}
.historyList {
  display: flex;
  justify-content: space-between; /* space around*/
  margin: 100px auto;
  width: 80%;
  color: white;
}
.historyListContent {
  width: 200px;
}
.count {
  margin:0;
  padding:0;
  width: 100%;
  text-align: center;
}
.unitafter {
  margin: 0px;
  display: inline;
}

.unitbefore4::after{
  content: '+';
  font-size: 20px;
}
.unit {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  line-height: 0.5;
}
.historyListContent img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: auto;
}
.count-num {
  font-size: 55px;
  font-weight: 700;
  display: inline;
}
@media screen and (max-width: 1200px) {
  .historyList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px auto;
    width: 476px;
    padding: 0px;
  }
  .historyListContent {
    width: 195px;
    margin: 20px 0 50px 0;
  }
  .historyListContent img {
    width: 100px;
  }
}
@media screen and (max-width: 658px) {
  .history {
    padding: 60px 0;
  }
  .historyTitle {
    padding: 32px;
    font-size: 30px;
  }
  .historyList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px auto;
    width: 476px;
    padding: 0px;
  }
  .historyListContent {
    width: 160px;
  }
  .historyListContent img {
    display: block;
    width: 80px;
    height: auto;
  }
  .count-num {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    display: inline;
  }
}
@media screen and (max-width: 462px) {
  .history {
    padding: 60px 0;
  }
  .historyTitle {
    padding: 0 32px 10px 32px;
    font-size: 30px;
  }
  .historyList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px auto;
    width: 300px;
    padding: 0px;
  }
  .historyListContent {
    width: 160px;
  }
  .historyListContent img {
    display: block;
    width: 60px;
    height: auto;
  }
  .count-num {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    display: inline;
  }
}

/* 나라 */
.worldwide {
  /* padding: 20px 100px 120px; */
  padding: 20px 12% 120px 12%;
  background-color: #1c1b1a;
}
.worldwideTitle {
  color: white;
  text-align: center;
  font-weight: 700;
  margin: 0;
  padding: 80px 0px;
  font-size: 30px;
}
.coverimg {
  width: 300px;
  height: 500px;
  object-fit: cover;
  filter: brightness(0.4); /* 40% */
}
.flag {
  width: 95px;
  height: 58px;
  position: absolute;
  /* top: 200px;
  left: 110px; */
  top: 50%;
  left: 50%;
  margin-left: -47.5px;
  margin-top: -50px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 500px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: white;
  font-size: 50px;
  font-weight: 500;
}
.flip-card-front p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flip-card-back {
  background-color: #ff7710;
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back h1 {
  font-size: 25px;
  font-weight: 600;
  padding: 15px 0;
}

.flip-card-back a {
  position: absolute;
  background-color: white;
  color: #ff7710;
  padding: 4px;
}
.flip-card-back a:hover {
  background-color: #1c1b1a;
}

@media screen and (max-width: 1165px) {
  .worldwide {
    padding: 20px 10px 120px;
    background-color: #1c1b1a;
  }
}
@media screen and (max-width: 975px) {
  .worldwide {
    padding: 20px 10px 120px;
    background-color: #1c1b1a;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
  }
  .worldwideTitle {
    padding: 40px 0px 60px;
  }
  .coverimg {
    width: 90%;
    height: 500px;
    object-fit: cover;
    filter: brightness(0.4); /* 40% */
  }

  .flag {
    width: 95px;
    height: 58px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -47.5px; /* width의 50% */
    margin-top: -29px; /* height의 50% */
  }
  .flip-card-front {
    color: white;
    font-size: 45px;
    font-weight: 500;
  }
  .flip-card-front p {
    position: absolute;
    top: 63%;
    left: 50%;
  }
  .flip-card-back h1 {
    font-size: 25px;
    font-weight: 600;
    padding: 15px 0;
  }

}
@media screen and (max-width: 935px) {
  .flip-card-back h1 {
    font-size: 25px;
    font-weight: 600;
    padding: 15px 0;
  }
  .flip-card-back p{
    font-size: 15px;
    line-height: 20px;
  }
  .flip-card-back a {
    position: absolute;
    background-color: white;
    color: #ff7710;
    padding: 4px;
  }

}
@media screen and (max-width: 726px) { /*추가*/
  .flip-card-back h1 {
    font-size: 25px;
    font-weight: 600;
    padding: 15px 0;
  }
  .flip-card-back p{
    font-size: 15px;
    line-height: 20px;
  }
  .flip-card-back a {
    position: absolute;
    background-color: white;
    color: #ff7710;
    padding: 2px;
    left: 40%;
  }
}
@media screen and (max-width: 601px) {
  .worldwide {
    padding: 20px 10px 120px;
    background-color: #1c1b1a;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .worldwideTitle {
    padding: 40px 0px 60px;
  }
  .coverimg {
    width: 300px;
    height: 500px;
    object-fit: cover;
    filter: brightness(0.4); /* 40% */
  }
  .flip-card-back{
    font-size: 16px;
  }
}

/*기업*/
.enterprise {
  padding: 160px 0px;
  background-color: white;
}
.companyTitle {
  color: black;
  margin: 0;
  padding: 0 0 160px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1500px * 2));
  }
}
@keyframes scroll2 {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(calc(-1500px * 2));
  }
}

.slider {
  background: white;
  width: 100%;
  height: 250px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider::before,
.slider::after {
  content: "";
  height: 300px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(1500px * 4);
}
.slide-track2 {
  animation: scroll2 40s linear infinite;
  display: flex;
  width: calc(1500px * 4);
}

.slide {
  width: 1500px;
  height: 250px;
}
.slide img {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #1c1b1a;
  color: white;
  margin: 0;
}

/*푸터*/
footer {
  /* width: 100vw; */
  padding: 50px 50px 20px;
  display: relative;
}
.footerlist {
  display: flex;
  flex-direction: column;
}
footer ul {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}
footer li {
  padding: 3px;
  font-size: 14px;
}
.last {
  display: flex;
  justify-content: space-between;
}
.icons {
  display: inline;
  left: 90%;
}
.icons a {
  margin: 5px;
}
